

<body>
<!-- Toolbar 


<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <a class="navbar-brand" [routerLink]="['login']">
    <img src="../assets/images/huella.png" width="30" height="30" alt="">
  </a>
  <span >IOTPET</span>
    <div class="spacer" ></div>
    <a [routerLink]="['user']" title="Login"  >
      <img 
        width="40"
        src="../assets/images/menu.png"
        />
    </a>
</nav>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['home']">
    <img src="../assets/images/huella.png" width="30" height="30" alt="">     iotPET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['promociones']">Promociones<span class="sr-only">(current)</span></a>   
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['sobrenosotros']">Sobre Nosotros<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['contacto']">Contacto<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <a [routerLink]="['user']" title="User"  >
      <button class="btn" style="background-color:rgb(255,155,204); color:white;">Mi iotPET</button>
    </a>
  </div>
</nav>


<router-outlet></router-outlet>

</body>

