.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook{
    padding: 10px;
    margin: 10px;
}
.twitter{
    padding: 10px;
    margin: 10px;
}
.ig{
    padding: 10px;
    margin: 10px; 
}
.telefono{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texttelefono{
    padding: 5px;
    margin: 5px;
}
.correo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textcorreo{
    padding: 5px;
    margin: 5px;
}