#fullpage {
  width:100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
}

.vertical-center{

  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.circle{
/*   margin-top:-300px; */
  z-index: 300;
  position: absolute;
  height: 480px;
  width:480px;
  border-radius: 50%;
  /*   top:15%; */
}

.process-container {
  position: relative;
}

.circle-text {
  text-align: center;
  color: black;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}

.contenedor{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}