
<div class="contenedor" >  
    <div class="card text-black mb-3  " style="max-width: 1000px; background-color: rgba(155, 178, 255, 0.3); color:black; ">
      <div class="row no-gutters contenedor">
        <div class="col-md-6">
          <img src="../../assets/images/puma.jpg" style="margin-left: 10px;"  width="300px" height="400px" class="card-img" alt="...">
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <form style="margin-left: 10px;">
            <fieldset>
              <legend>Su Cuenta</legend>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Correo electrónico</label>
                <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo" >
                <div class="col-sm-10">
                  <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
              </div>
              
              <a [routerLink]="['user']" title="user"  >
                <button class="btn btn-success" style="color:white; margin-left: 10px" (click)="Login()">Iniciar Sesión</button>
              </a>
              <a [routerLink]="['registro']" title="registro"  >
                <button class="btn btn-success" style="color:white; margin-left: 10px" (click)="Registro()">     Registrarse      </button>
              </a> 
            </fieldset>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  <!--
  <div id="fullpage">
      
      <div id="process" class="vertical-center">
        <form>
          <fieldset>
            <legend>Login</legend>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
              
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo" >
              <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            
            <button type="submit" class="btn btn-success" style="margin-left: 10px">Ingresar</button>
            <button type="submit" class="btn btn-success" style="margin-left: 10px">Registrarse</button>
          </fieldset>
        </form>
        
      </div>
  </div>-->
