<div class="contenedor" >  
    <div class="card text-black mb-3  " style="max-width: 600px; background-color: rgb(155, 178, 255, 0.3); color:black;">
      <div class="row no-gutters contenedor">
        <div class="col-md-10">
          <div class="card-body">
            <form>
              <fieldset>
                <legend>Registrar</legend>
                <div class="form-group">
                  <label for="exampleInputPassword1">Nombre: *</label>
                  <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="exampleInputPassword1" placeholder="nombre">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">ID dispositivo Paticle: *</label>
                  <input [(ngModel)]="idParticle" name="idParticle" type="text" class="form-control" id="exampleInputPassword1" placeholder="apellidos">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Nombre de tu mascota: *</label>
                  <input [(ngModel)]="mascota" name="mascota" type="text" class="form-control" id="exampleInputPassword1" placeholder="mascota">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Correo electrónico: *</label>
                  <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo electrónico">
                  <small id="emailHelp" class="form-text text-muted">ejemplo@ejemplo.com</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña: *</label>
                  <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="contraseña">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirmar contraseña: *</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="contraseña">
                </div>
                <button type="submit" class="btn btn-success" (click)="Registrar()">Terminar</button>
              </fieldset> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    