<div id="fullpage">
    <div id="process" class="vertical-center">
      <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../assets/images/5.jpg"  width="800px" height="500px"  alt="Random first slide">
            </div>
            <div class="carousel-caption"></div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../assets/images/1.jpg"  width="800px" height="500px"  alt="Random first slide">
            </div>
            <div class="carousel-caption"></div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../assets/images/2.jpg" width="800px" height="500px"  alt="Random first slide">
            </div>
            <div class="carousel-caption"></div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../assets/images/puma2.jpg" width="800px" height="500px"  alt="Random first slide">
            </div>
            <div class="carousel-caption"></div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../assets/images/3.jpg"  width="800px" height="500px" alt="Random first slide">
            </div>
            <div class="carousel-caption"></div>
          </ng-template>
      </ngb-carousel>
    </div>
    <div id="process" class="vertical-center ">
      <div class="jumbotron" style="background-color: rgb(255,155,204,0.3);">
        <h1 class="display-5">¡JUNTOS LE DAMOS UNA MEJOR CALIDAD DE VIDA!</h1>
      <p class="lead " style="color:#70696F">Aunque la tecnología avance constantemente, el amor a nuestras mascotas es para siempre.</p>
        <hr class="my-4  ">
        <p style="color:#70696F" >Empresa en crecimiento desarrollada por estudiantes de la UNAM.</p>
        
      </div>
    </div>
</div>